*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body{
  font-family: $open;
}

.nav{
  background: $black;
  
  &__content{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__list{
    list-style: none;
    display: flex;
  }
  
  &__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $white;
    margin-left: 100px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    
    &.active{
      color: $gold;
      
      &::after{
        content: "";
        position: absolute;
        height: 6px;
        width: 6px;
        background: $gold;
        left: 50%;
        transform: translateX(-50%);
        bottom: -6px;
        border-radius: 50%;
      }
    }
  }
  
  &__logo{
    
    &-svg{
      height: 45px;
    }
  }
}

